<div class="col-md-12 float-left  mt-5">
    <!-- <app-loader [show]="showLoader"></app-loader> -->
    <app-filter-chip-list></app-filter-chip-list>
    <h3 class="mt-2 mb-2 float-left col-5 pt-1 pos-rel" style="font-size: 24px;color:#29a84a">Reason for brand choice(%) <i class="font-xs ml-2 text-dark">Base: Aware of brand</i>   <div class="titleOnHover"><b>Overall Brand Perceptions</b> : BRIA</div></h3>
  
    <!-- <app-chart-container *ngFor="let config of brandPerceptionsArray" [chart]="config" [updateData]="onDataUpdate"></app-chart-container> -->
    <div class="float-right  mt-1"><span class="mr-4" hidden><i class="fa fa-caret-up text-success mr-2 fa-2x"></i> <i
                class="fa-2x fa fa-caret-down text-danger mr-2"></i><span>Significant @ 95% level</span></span>
        <i class="fa fa-download font-sm border rounded p-2 clickable mr-2" hidden title="Download Regression Analysis"></i>
        <i class="fa fa-table font-sm border rounded p-2 clickable mr-2" hidden title="Switch to Table View"></i>
        <i class="fa fa-line-chart font-sm border rounded p-2 clickable" hidden title="Switch to Trended View"></i>
        <div class="float-right">
                <img src="../../../assets/images/excel.png" title="Download Excel" class="mr-2 clickable"
                    style="height:20px;"/>
                <!-- <img src="../../../assets/images/ppt.png" title="Download PPT" class="clickable"
                    style="height:20px;" /> -->
            </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-12">
        <div class="card-body pt-2 mb-3">
            <div>
                <div class="col-1 float-left"></div>
                <div class="col-2 float-left pr-0">
                    <div style="background-color: #92D050" class="legend-box float-left mr-2"></div><span>
                        Overindex: 120 or higher</span>
                </div>
                <div class="col-2 float-left">
                    <div style="background-color: #E5F995" class="legend-box float-left mr-2"></div>
                    <span>Overindex: 110 - 119</span>
                </div>
                <div class="col-2 float-left">
                    <div style="background-color: #fff" class="legend-box float-left mr-2 border"></div>
                    <span>Average: 91 - 109</span>
                </div>
                <div class="col-2 float-left">
                    <div style="background-color: #FFCCCE" class="legend-box float-left mr-2"></div>
                    <span>Underindex: 81 - 90</span>
                </div>
                <div class="col-2 float-left pr-0">
                    <div style="background-color: #FF656D" class="legend-box float-left mr-2"></div>
                    <span>Underindex: 80 or lower</span>
                </div>
            </div>
        </div>
        <table class="table table-bordered w-100 mb-0" style="width:99.5%!important">
            <tr class="brandList">
                <td class="text-center"><label class="font-weight-bold">Drivers</label></td>
                <td style="width:35%"></td>
                <td class="text-center"><label class="font-weight-bold">Average<br>Selected Brands</label></td>
                <td class="text-center"><img  /></td>               
            </tr>
        </table>
        <div class="overflow" >
            <table class="table table-bordered w-100 mb-0">
                <tr>
                    <td class="text-center"></td>
                    <td  style="width:35%"></td>
                    <td class="text-center">
                        <!-- <i class="fa fa-caret-up text-success ml-2 mr-2 fa-2x"></i> 
                              <i class="fa-2x fa fa-caret-down text-danger mr-2"></i></td> -->
                    <td class="text-center text-white base pos-rel" 
                    >
                       
                        <div class="baseCount">Base: </div>  
                    </td>
                </tr>
            </table>
            <div class="alert alert-info font-sm text-center col-md-4 ml-auto mr-auto mt-4" >No Data Available</div>
        </div>
    </div>
    <div class="col-12 p-0" hidden>
        Trended View
    </div>
    <div class="clearfix"></div>
</div>