<div class="col-md-12 float-left  mt-5 pt-4">
  <app-loader [show]="showloader"></app-loader>


  <div *ngIf="!showChart" id="chartView">
    <app-filter-chip-list></app-filter-chip-list>
    <div class="text-right float-right"> <i class="fa fa-caret-up text-success mr-1 fa-2x"></i>/
      <i class="fa-2x fa fa-caret-down text-danger mr-2"></i><span class="font-sm">Significant @ 95% level</span>
      <i class="fa fa-table p-1 ml-2 border rounded clickable" title="Chart View" id="chartsTabs"
        (click)="toggleChart('chartsTabs');"></i>
      <i class="fa fa-line-chart p-1 ml-2 border rounded clickable" title="Trend View" id="trendsTabs"
        (click)="toggleTrends('trendsTabs');"></i>
    </div>
    <h3 class="mt-2 mb-2 float-left col-4 pt-1" style="font-size: 24px;color:#29a84a">Brand Health (%) <i
        class="font-xs ml-2 text-dark">Base:
        Total</i></h3>
    <app-chart-container [chart]="unaided" [updateData]="onDataUpdate" style="display: none"></app-chart-container>
    <app-chart-container [chart]="totalBrand" [updateData]="onDataUpdate" style="display: none"></app-chart-container>
    <app-chart-container [chart]="advertising" [updateData]="onDataUpdate" style="display: none"></app-chart-container>
    <div *ngFor="let el of cosnsumerBrandRelation1">
      <app-chart-container [chart]="el" [updateData]="onDataUpdate"></app-chart-container>
    </div>
    <div class="float-right mt-1 mr-2">
      <!-- <span class="mr-4"><i class="fa fa-caret-up text-success mr-2 fa-2x"></i> <i
                class="fa-2x fa fa-caret-down text-danger mr-2"></i><span>Significant @ 95% level</span></span><i
            class="fa fa-line-chart font-sm border rounded p-2 clickable" hidden title="Switch to Trended View"></i> -->
      <div class="float-right">
        <img src="../../../assets/images/excel.png" title="Download Excel" (click)="downloadExcelFile()"
          class="mr-2 clickable" style="height:20px;" />
        <img src="../../../assets/images/ppt.png" title="Download PPT" (click)="downloadPPT()" class="clickable"
          style="height:20px;" />
        <a [href]="urlfile" style="display: none;" id="pptdownload"></a>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-12 overflow ">
      <table class="table table-bordered brandHealth w-100">
        <tr class="brandList">
          <td></td>
          <td *ngFor="let brand of brandList"><img src="{{brand}}" /></td>
        </tr>
        <tr>
          <td class="text-center pos-rel"><label>Unaided Brand Awareness</label>
            <div class="titleOnHover"><b>Unaided Brand</b>: SBAW</div>
          </td>
          <td *ngFor="let col of unaidedData; let i= index;">
            <div class="text-center LowBase" [ngClass]="{'hide' :(col | scoreAndBase :unaidedBases) != 'Low base'}">Low
              Base</div>
            <div class="float-left col-3 pr-0 pos-rel"
              [ngClass]="{'hide' :(col | scoreAndBase :unaidedBases) == 'Low base'}">
              <div class="bar-score">{{col | scoreAndBase :unaidedBases}}</div>
            </div>
            <div class="float-left col-6 pos-rel barBox pr-0 base"
              [ngClass]="{'hide' :(col | scoreAndBase :unaidedBases) == 'Low base'}">
              <div class="bar-width" [style.width.%]="col"></div>
              <div class="baseCount">Base: {{unaidedBases}}</div>
            </div>
            <div *ngIf="showUnaidedSigArraow[i] == true && (col | showSigTest :unaidedComparisionData[i]) !== 0" class="float-left col-2 sigbase"
              [ngClass]="{'hide' :(col | scoreAndBase :unaidedBases) == 'Low base'}">
              <i class="fa fa-caret-down text-danger fa-2x"
                *ngIf="(col | showSigTest :unaidedComparisionData[i]) === (-1)"></i>
              <i class="fa fa-caret-up text-success fa-2x"
                *ngIf="(col | showSigTest :unaidedComparisionData[i]) === 1"></i>
              <div class="baseCount">Comparison Score: {{unaidedComparisionData[i] | scoreAndBase}}
                <br><span>Comparison Base: {{unaidedCompareBase}}</span>
              </div>
            </div>
            <div class="clearfix"></div>

          </td>
        </tr>
        <tr>
          <td class="text-center pos-rel"><label>Total Brand (Aided + Unaided) Awareness</label>
            <div class="titleOnHover"><b>Total Brand (Aided + Unaided)</b>: SBAW/ABAW</div>
          </td>
          <td *ngFor="let col of totalBrandData; let i = index">
            <div class="text-center LowBase" [ngClass]="{'hide' :(col | scoreAndBase :TotalBases) != 'Low base'}">Low
              Base</div>
            <div class="float-left col-3 pr-0 pos-rel"
              [ngClass]="{'hide' :(col | scoreAndBase :TotalBases) == 'Low base'}">
              <div class="bar-score">{{col | scoreAndBase :TotalBases}}</div>
            </div>
            <div class="float-left col-6 pos-rel barBox pr-0 base"
              [ngClass]="{'hide' :(col | scoreAndBase :TotalBases) == 'Low base'}">
              <div class="bar-width" [style.width.%]="col"></div>
              <div class="baseCount">Base: {{TotalBases}}</div>
            </div>
            <div *ngIf="showTotalAdSigArray[i] == true && (col | showSigTest :totalComparisionData[i]) !== 0" class="float-left col-2 sigbase"
              [ngClass]="{'hide' :(col | scoreAndBase :TotalBases) == 'Low base'}">
              <i class="fa fa-caret-down text-danger fa-2x"
                *ngIf="(col | showSigTest :totalComparisionData[i]) === (-1)"></i>
              <i class="fa fa-caret-up text-success fa-2x"
                *ngIf="(col | showSigTest :totalComparisionData[i]) === 1"></i>
              <div class="baseCount">Comparison Score: {{totalComparisionData[i] | scoreAndBase}}
                <br><span>Comparison Base: {{totalCompareBase}}</span>
              </div>
            </div>
            <div class="clearfix"></div>

          </td>
        </tr>
        <tr>
          <td class="text-center pos-rel"><label>Advertising</label>
            <div class="titleOnHover"><b>Advertising</b>: AAAW</div>
          </td>
          <td *ngFor="let col of advertisingData; let i = index;">
            <div class="text-center LowBase" [ngClass]="{'hide' :(col | scoreAndBase :advertisingBases) != 'Low base'}">
              Low Base</div>
            <div class="float-left col-3 pr-0 pos-rel"
              [ngClass]="{'hide' :(col | scoreAndBase :advertisingBases) == 'Low base'}">
              <div class="bar-score">{{col | scoreAndBase :advertisingBases}}</div>
            </div>
            <div class="float-left col-6 pos-rel barBox pr-0 base"
              [ngClass]="{'hide' :(col | scoreAndBase :advertisingBases) == 'Low base'}">
              <div class="bar-width" [style.width.%]="col"></div>
              <div class="baseCount">Base: {{advertisingBases}}</div>
            </div>
            <div *ngIf="showAdvSigArray[i] == true && (col | showSigTest :advComparisionData[i]) !== 0" class="col-2 float-left sigbase"
              [ngClass]="{'hide' :(col | scoreAndBase :advertisingBases) == 'Low base'}">
              <i class="fa fa-caret-down text-danger fa-2x"
                *ngIf="(col | showSigTest :advComparisionData[i]) === (-1)"></i>
              <i class="fa fa-caret-up text-success fa-2x"
                *ngIf="(col | showSigTest :advComparisionData[i]) === 1"></i>
              <div class="baseCount">Comparison Score: {{advComparisionData[i] | scoreAndBase}}
                <br><span>Comparison Base: {{adverCompareBase}}</span>
              </div>
            </div>
            <div class="clearfix"></div>
          </td>
        </tr>
        <tr>
          <td class="text-center pos-rel"><label>Consumer Brand Relationships (CBR)</label>
            <div class="titleOnHover"><b>Consumer Brand Relationships (CBR)</b>: CBR</div>
          </td>
          <td *ngFor="let col of cosnsumerBrandRelation, let i = index;" class="pos-rel">
            <div class="text-center LowBase" [ngClass]="{'hide' :(col | scoreAndBase :cosnsumerBrandRelationBase[i]) != 'Low base'}">
              Low Base</div>
            <div class="card-body p-1 pos-rel base" *ngIf="col.SideBreak[0] != undefined" [ngClass]="{'hide' :(col | scoreAndBase :cosnsumerBrandRelationBase[i]) == 'Low base'}" style="min-height: 125px;">
              <app-chart-container [chart]="col" [updateData]="onDataUpdate">
              </app-chart-container>
              <div style="position: absolute;left:0px;bottom:0px;background-color: #fff;width:10px;height:10px;"></div>
              <div class="baseCount">Base: {{cosnsumerBrandRelationBase[i]}}</div>
            </div>

            <div class="card-body p-1 pos-rel" *ngIf="col.SideBreak[0] == undefined">
              <p class="text-center">NA</p>
              <!-- <div style="position: absolute;left:0px;bottom:0px;background-color: #fff;width:10px;height:10px;"></div> -->
            </div>
            <div class="">
              <div class="col-12 float-left" *ngIf="cbrSigTestingShowArrow[i].isStrongSig !=0">
                <div style="background-color: #A2AD00" class="legend-box float-left mr-2 mt-1"></div>
                <div class="float-left mt-1">Strong</div>
                <div class="float-left sigbase ml-2" *ngIf="cbrSigTestingShowArrow[i].isStrongSig != 0 && 
                (cbrSigTestingShowArrow[i].strongScore | showSigTest :cbrSigTestingShowArrow[i].strongCompareScore) !== 0">
                  <i class="fa fa-caret-down text-danger fa-2x" 
                  *ngIf="(cbrSigTestingShowArrow[i].strongScore | showSigTest :cbrSigTestingShowArrow[i].strongCompareScore) === (-1)"></i>
                  <i class="fa fa-caret-up text-success fa-2x"
                    *ngIf="(cbrSigTestingShowArrow[i].strongScore | showSigTest :cbrSigTestingShowArrow[i].strongCompareScore) === 1"></i>
                  <div class="baseCount">Comparison Score: {{cbrSigTestingShowArrow[i].strongCompareScore | scoreAndBase}}
                    <br><span>Comparison Base: {{cbrSigTestingShowArrow[i].compareBase}}</span>
                  </div>
                </div>
              </div>
              <div class="col-12 float-left" *ngIf="cbrSigTestingShowArrow[i].isWeakSig !=0">
                <div style="background-color: #0070C0" class="legend-box float-left mr-2 mt-1"></div>
                <div class="float-left mt-1">Weak</div>
                <div class="float-left sigbase ml-2" *ngIf="cbrSigTestingShowArrow[i].isWeakSig != 0 &&
                (cbrSigTestingShowArrow[i].weakScore | showSigTest :cbrSigTestingShowArrow[i].weakCompareScore) !== 0">
                  <i class="fa fa-caret-down text-danger fa-2x" 
                  *ngIf="(cbrSigTestingShowArrow[i].weakScore | showSigTest :cbrSigTestingShowArrow[i].weakCompareScore) === (-1)"></i>
                  <i class="fa fa-caret-up text-success fa-2x"
                    *ngIf="(cbrSigTestingShowArrow[i].weakScore | showSigTest :cbrSigTestingShowArrow[i].weakCompareScore) === 1"></i>
                  <div class="baseCount">Comparison Score: {{cbrSigTestingShowArrow[i].weakCompareScore | scoreAndBase}}
                    <br><span>Comparison Base: {{cbrSigTestingShowArrow[i].compareBase}}</span>
                  </div>
                </div>
              </div>
              <div class="col-12 float-left" *ngIf="cbrSigTestingShowArrow[i].isRiskSig !=0">
                <div style="background-color:  #9B1F23" class="legend-box float-left mr-2 mt-1"></div>
                <div class="float-left mt-1">At Risk</div>
                <div class="float-left sigbase ml-2" *ngIf="cbrSigTestingShowArrow[i].isRiskSig != 0 && 
                (cbrSigTestingShowArrow[i].atRiskScore | showSigTest :cbrSigTestingShowArrow[i].atRiskCompareScore) !== 0">
                  <i class="fa fa-caret-down text-danger fa-2x" 
                  *ngIf="(cbrSigTestingShowArrow[i].atRiskScore | showSigTest :cbrSigTestingShowArrow[i].atRiskCompareScore) === (-1)"></i>
                  <i class="fa fa-caret-up text-success fa-2x"
                    *ngIf="(cbrSigTestingShowArrow[i].atRiskScore | showSigTest :cbrSigTestingShowArrow[i].atRiskCompareScore) === 1"></i>
                  <div class="baseCount">Comparison Score: {{cbrSigTestingShowArrow[i].atRiskCompareScore | scoreAndBase}}
                    <br><span>Comparison Base: {{cbrSigTestingShowArrow[i].compareBase}}</span>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>

          </td>
        </tr>

      </table>
      <div class="col-4 ml-auto mr-auto">
        <div class="col-4 float-left">
          <div style="background-color: #A2AD00" class="legend-box float-left mr-2"></div>
          <span>Strong</span>
        </div>
        <div class="col-4 float-left">
          <div style="background-color: #0070C0" class="legend-box float-left mr-2"></div>
          <span>Weak</span>
        </div>
        <div class="col-4 float-left">
          <div style="background-color: #9B1F23" class="legend-box float-left mr-2"></div>
          <span>At Risk</span>
        </div>
      </div>
    </div>
    <!-- <div class="col-12 p-0">
        Trended View
    </div> -->
    <div class="clearfix"></div>
  </div>

  <div *ngIf="showTrends" id="trendView">
    <div class="text-right float-right mb-1">
      <img src="../../../assets/images/ppt.png" title="Download PPT" (click)="downloadPptTrends()" class="clickable"
        style="height:20px;" />
      <i class="fa fa-table p-1 ml-2 border rounded clickable" title="Chart View" id="chartsTabs"
        (click)="toggleChart('chartsTabs');"></i>
      <i class="fa fa-line-chart p-1 ml-2 border rounded clickable" title="Trend View" id="trendsTabs"
        (click)="toggleTrends('trendsTabs');"></i>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-12">

        <nav class="nav nav-pills border nav-justified">
          <a class="nav-item nav-link active clickable border-right" [class.active]="periodSeclected == 'tab1'"
            rel="tab1" (click)="changeTimePeriod('Quarterly','tab1')">
            Quarterly
          </a>
          <a class="nav-item nav-link clickable border-right" [class.active]="periodSeclected == 'tab2'" rel="tab2"
            (click)="changeTimePeriod('SemiAnnually','tab2')">
            Semi Annually
          </a>
          <a class="nav-item nav-link clickable border-right" [class.active]="periodSeclected == 'tab3'" rel="tab3"
            (click)="changeTimePeriod('Annually','tab3')">
            Annually
          </a>
        </nav>

      </div>
    </div>
    <div class="tab-content" id="myTabContent">
      <div class="hide active" id="tab1" [class.active]="periodSeclected == 'tab1'">
        <div class="col-6 float-left">
          <div class="card">
            <div class="card-header green">UNAIDED BRAND AWARENESS</div>
            <div class="card-body border">
              <app-chart-container [chart]="unaidedTrends" [updateData]="onDataUpdate"></app-chart-container>
            </div>
          </div>
        </div>
        <div class="col-6 float-left">
          <div class="card">
            <div class="card-header green">TOTAL BRAND AWARENESS</div>
            <div class="card-body border">
              <app-chart-container [chart]="totalBrandsTrends" [updateData]="onDataUpdate"></app-chart-container>
            </div>
          </div>
        </div>
      </div>
      <div class="hide active" id="tab1" [class.active]="periodSeclected == 'tab1'">
        <div class="col-6 float-left">
          <div class="card">
            <div class="card-header green">ADVERTISING AWARENESS</div>
            <div class="card-body border">
              <app-chart-container [chart]="advertisingTrends" [updateData]="onDataUpdate"></app-chart-container>
            </div>
          </div>
        </div>
        <div class="col-6 float-left">
          <div class="card">
            <div class="card-header green">CONSUMER BRAND RELATIONSHIP (CBR) - STRONG (NET)</div>
            <div class="card-body border">
              <app-chart-container [chart]="strongCbrTrends" [updateData]="onDataUpdate"></app-chart-container>
            </div>
          </div>
        </div>
      </div>
      <div class="hide active" id="tab1" [class.active]="periodSeclected == 'tab1'">
        <div class="col-6 float-left">
          <div class="card">
            <div class="card-header green">CONSUMER BRAND RELATIONSHIP (CBR) - WEAK (NET)</div>
            <div class="card-body border">
              <app-chart-container [chart]="weakCbrTrends" [updateData]="onDataUpdate"></app-chart-container>
            </div>
          </div>
        </div>
        <div class="col-6 float-left">
          <div class="card">
            <div class="card-header green">CONSUMER BRAND RELATIONSHIP (CBR) - AT RISK (NET)</div>
            <div class="card-body border">
              <app-chart-container [chart]="riskCbrTrends" [updateData]="onDataUpdate"></app-chart-container>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <span class="note"><b>Low Base</b> shown if base size <75.</span>