.bar-width{position: absolute;left:0px;bottom:0px;top:0px;width:0%;background-color:#868585}
.bar-score{position: absolute;left:-18px;top:5px;color:#868585}
.bar-bg{width:88%!important;margin-left: 12%;}
.brandList img{height:30px;}
.brandList td.selected {
    border: 1px solid #29a84a;
}
.brandList td{padding:.5rem}
.brandList td .fa {
    display: none;
}

.base:hover .baseCount{display: block;}
.brandList td.selected .fa {
    display: block;
    color: #fff;
    position: absolute;
    top: -3px;
    right: -3px;
    z-index: 8;
}
.box{position: relative;padding: 5px;}
.box::before, .box::after {
    content: '';
    position: absolute;
    top: -7px;
    right: -7px;
    border-color: transparent;
    border-style: solid;
    border-radius: 2px!important;
}
.box::after {
    border-radius: 0.4em;
    border-width: 1.35em;
    border-right-color: #1d5f30;
    border-top-color: #1d5f30;
    display: none;
}
.brandList td.selected .box::after,.brandList td.selected .box::after{display: block;}

.icon{border:1px solid transparent}
.legend-box{width:15px;height:15px;font-size: .8rem}

.col-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 13.333333%;
    flex: 0 0 13.333333%;
    max-width: 13.333333%;
}

.table td:last-child .sigbase:hover > .baseCount{right:0%;left:auto}

.nav-link.active{
    color: #fff;
    background-color: #29a84a!important;border-radius:0px!important;
}