<div class="col-md-12 float-left  mt-5 pt-4 pb-4">
  <app-loader [show]="showloader"></app-loader>
  <app-filter-chip-list></app-filter-chip-list>
  <div id="alert" class="alert alert-danger" *ngIf="error==true">
    <span class="closebtn" (click)="hiddenalert()">&times;</span>
    Maximum 3 Ads can be selected.
  </div>
  <h3 *ngIf="selectedTab=='Descriptor'" class="mt-2 mb-2 float-left col-5 pt-1 pos-rel"
    style="font-size: 24px;color:#29a84a">Ad Descriptor </h3>
  <h3 *ngIf="selectedTab=='CallToAction'" class="mt-2 mb-2 float-left col-5 pt-1 pos-rel"
    style="font-size: 24px;color:#29a84a">Ad Call to Action </h3>
  <div *ngFor="let eq of AdChart">
    <app-chart-container [chart]="eq" [updateData]="onDataUpdate" style="display: none"></app-chart-container>
  </div>

  <div *ngFor="let eq of AdChart1">
    <app-chart-container [chart]="eq" [updateData]="onDataUpdate" style="display: none"></app-chart-container>
  </div>

  <!-- <app-chart-container [chart]="AdTrendChart" [updateData]="onDataUpdate"></app-chart-container> -->
  <div class="float-right mt-1">
    <span class="mr-4"><i class="fa fa-caret-up text-success mr-2 fa-2x"></i> <i
        class="fa-2x fa fa-caret-down text-danger mr-2"></i><span>Significant @ 95% level</span></span><i
      class="fa fa-line-chart font-sm border rounded p-2 clickable" hidden title="Switch to Trended View"></i>
    <div class="float-right">
      <img src="../../../assets/images/excel.png" title="Download Excel" (click)="ExcellExport()" class="mr-2 clickable"
        style="height:20px;" />
      <img src="../../../assets/images/ppt.png" title="Download PPT" class="clickable"
        (click)="pptexport('Ad-Descriptor')" style="height:20px;" />
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="col-12 overflow p-0">
    <div class="col-3 float-left">
      <div *ngFor="let el of addLists; let i = index" [attr.id]="i" (click)="videoSelected($event,i,el.adname)"
        class="mb-2 border p-1 rounded video">

        <div class="col-6 float-left">
          <img style="height: 70px;width:100%" src={{logoByAddsCode[el.adname]}}>
        </div>

        <div class="col-6 float-left mt-1 pl-0"><label>{{el.adname}}</label></div>
        <div class="col-6 float-left mt-0 pl-0"><span style="font-size: .9rem;">{{el.brand}}</span></div>
        <div>
          {{videoSelected1(i)}}
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="col-9 float-left">
      <nav class="nav nav-pills border nav-justified">
        <a class="nav-item nav-link active clickable border-right" [class.active]="viewMode == 'tab1'" rel="tab1"
          (click)="changeTable('Descriptor','tab1')">
          Ad Perceptions (% Top 2 Box)
        </a>
        <a class="nav-item nav-link clickable border-right" [class.active]="viewMode == 'tab2'" rel="tab2"
          (click)="changeTable('CallToAction','tab2')">
          Ad Call to Action (% Top 2 Box)
        </a>
      </nav>
      <div class="tab-content" id="myTabContent">
        <div id="tab1" class="hideTab border p-2" *ngIf="selectedTab=='Descriptor'" [class.active]="viewMode == 'tab1'">
          <!-- <app-loader [show]="showLoader"></app-loader> -->
          <p class="mt-1 text-secondary float-right font-sm mb-1"> * Select maximum 3 Ads to compare</p>
          <div class="clearfix"></div>
          <table class="table table-bordered w-100 table-fixed">
            <tr>
              <td></td>
              <td *ngFor="let el of AddData1" class="text-center">
                <div>
                  <img style="height: 100px;" src={{logoByAddsCode[el.addname]}}>
                </div>
                <br>
                <div style="height:10px;"></div>
                <div style="height:40px;"><label>{{el.addname}}</label></div>
              </td>
            </tr>
            <tr>
              <td class="text-right">I enjoyed the ad</td>
              <td *ngFor="let el of AddData1">
                <div class="text-center LowBase" [ngClass]="{'hide' :(el.data[0].Score) != 'Low base'}">Low Base</div>
                <div class="float-left col-2 pr-0 pos-rel" [ngClass]="{'hide' :(el.data[0].Score) == 'Low base'}">
                  <div class="bar-score">{{el.data[0].Score | roundOff}}</div>
                </div>
                <div class="float-left col-8 pos-rel barBox pr-0 pl-0 base"
                  [ngClass]="{'hide' :(el.data[0].Score) == 'Low base'}">
                  <div class="bar-width" [style.width.%]="el.data[0].Score"></div>
                </div>
                <div *ngIf="el.isSignificance[0] != undefined" class="col-2 float-left sigbase"
                  [ngClass]="{'hide' :(el.data[0].Score) == 'Low base'}">
                  <i class="fa fa-caret-down text-danger fa-2x" *ngIf="!(el.data[0].Score>el.comapreScore[0])"></i>
                  <i class="fa fa-caret-up text-success fa-2x" *ngIf="(el.data[0].Score>el.comapreScore[0])"></i>
                  <div class="baseCount">Comparison Score: {{el.comapreScore[0]}}
                    <br><span>Comparison Base: {{el.comapreBase[0]}}</span>
                  </div>
                </div>
                <div class="baseCount">Base: {{el.base[0]}}</div>
                <div class="clearfix"></div>
              </td>
            </tr>
            <tr>
              <td class="text-right">The ad contained information that is important to me</td>
              <td *ngFor="let el of AddData1">
                <div class="text-center LowBase"
                  [ngClass]="{'hide' :(el.data[1].Score | scoreAndBase : el.base[0]) != 'Low base'}">Low Base</div>
                <div class="float-left col-2 pr-0 pos-rel"
                  [ngClass]="{'hide' :(el.data[1].Score | scoreAndBase : el.base[0]) == 'Low base'}">
                  <div class="bar-score">{{el.data[1].Score | scoreAndBase : el.base[0]}}</div>
                </div>
                <div class="float-left col-8 pos-rel barBox pr-0 pl-0 base"
                  [ngClass]="{'hide' :(el.data[1].Score | scoreAndBase : el.base[0]) == 'Low base'}">
                  <div class="bar-width" [style.width.%]="el.data[1].Score"></div>
                  <div class="baseCount">Base: {{el.base[0]}}</div>
                </div>
                <div *ngIf="el.isSignificance[1] != undefined" class="col-2 float-left sigbase"
                  [ngClass]="{'hide' :(el.data[1].Score | scoreAndBase : el.base[0]) == 'Low base'}">
                  <i class="fa fa-caret-down text-danger fa-2x" *ngIf="!(el.data[1].Score>el.comapreScore[1])"></i>
                  <i class="fa fa-caret-up text-success fa-2x" *ngIf="(el.data[1].Score>el.comapreScore[1])"></i>
                  <div class="baseCount">Comparison Score: {{el.comapreScore[1]}}
                    <br><span>Comparison Base: {{el.comapreBase[0]}}</span>
                  </div>
                </div>
                <div class="clearfix"></div>
              </td>
            </tr>
            <tr>
              <td class="text-right">The ad told me something new</td>
              <td *ngFor="let el of AddData1">
                <div class="text-center LowBase"
                  [ngClass]="{'hide' :(el.data[2].Score | scoreAndBase : el.base[0]) != 'Low base'}">Low Base</div>
                <div class="float-left col-2 pr-0 pos-rel"
                  [ngClass]="{'hide' :(el.data[2].Score | scoreAndBase : el.base[0]) == 'Low base'}">
                  <div class="bar-score">{{el.data[2].Score | scoreAndBase : el.base[0]}}</div>
                </div>
                <div class="float-left col-8 pos-rel barBox pr-0 pl-0 base"
                  [ngClass]="{'hide' :(el.data[2].Score | scoreAndBase : el.base[0]) == 'Low base'}">
                  <div class="bar-width" [style.width.%]="el.data[2].Score"></div>
                  <div class="baseCount">Base: {{el.base[0]}}</div>
                </div>
                <div *ngIf="el.isSignificance[2] != undefined" class="col-2 float-left sigbase"
                  [ngClass]="{'hide' :(el.data[2].Score | scoreAndBase : el.base[0]) == 'Low base'}">
                  <i class="fa fa-caret-down text-danger fa-2x" *ngIf="!(el.data[2].Score>el.comapreScore[2])"></i>
                  <i class="fa fa-caret-up text-success fa-2x" *ngIf="(el.data[2].Score>el.comapreScore[2])"></i>
                  <div class="baseCount">Comparison Score: {{el.comapreScore[2]}}
                    <br><span>Comparison Base: {{el.comapreBase[0]}}</span>
                  </div>
                </div>
                <div class="clearfix"></div>
              </td>

            </tr>
            <tr>
              <td class="text-right">I would like to see the ad again</td>
              <td *ngFor="let el of AddData1">
                <div class="text-center LowBase"
                  [ngClass]="{'hide' :(el.data[3].Score | scoreAndBase : el.base[0]) != 'Low base'}">Low Base</div>
                <div class="float-left col-2 pr-0 pos-rel"
                  [ngClass]="{'hide' :(el.data[3].Score | scoreAndBase : el.base[0]) == 'Low base'}">
                  <div class="bar-score">{{el.data[3].Score | scoreAndBase : el.base[0]}}</div>
                </div>
                <div class="float-left col-8 pos-rel barBox pr-0 pl-0 base"
                  [ngClass]="{'hide' :(el.data[3].Score | scoreAndBase : el.base[0]) == 'Low base'}">
                  <div class="bar-width" [style.width.%]="el.data[3].Score"></div>
                  <div class="baseCount">Base: {{el.base[0]}}</div>
                </div>
                <div *ngIf="el.isSignificance[3] != undefined" class="col-2 float-left sigbase"
                  [ngClass]="{'hide' :(el.data[3].Score | scoreAndBase : el.base[0]) == 'Low base'}">
                  <i class="fa fa-caret-down text-danger fa-2x" *ngIf="!(el.data[3].Score>el.comapreScore[3])"></i>
                  <i class="fa fa-caret-up text-success fa-2x" *ngIf="(el.data[3].Score>el.comapreScore[3])"></i>
                  <div class="baseCount">Comparison Score: {{el.comapreScore[3]}}
                    <br><span>Comparison Base: {{el.comapreBase[0]}}</span>
                  </div>
                </div>
                <div class="clearfix"></div>
              </td>

            </tr>
            <tr>
              <td class="text-right">The ad was original</td>
              <td *ngFor="let el of AddData1">
                <div class="text-center LowBase"
                  [ngClass]="{'hide' :(el.data[4].Score | scoreAndBase : el.base[0]) != 'Low base'}">Low Base</div>
                <div class="float-left col-2 pr-0 pos-rel"
                  [ngClass]="{'hide' :(el.data[4].Score | scoreAndBase : el.base[0]) == 'Low base'}">
                  <div class="bar-score">{{el.data[4].Score | scoreAndBase : el.base[0]}}</div>
                </div>
                <div class="float-left col-8 pos-rel barBox pr-0 pl-0 base"
                  [ngClass]="{'hide' :(el.data[4].Score | scoreAndBase : el.base[0]) == 'Low base'}">
                  <div class="bar-width" [style.width.%]="el.data[4].Score"></div>
                  <div class="baseCount">Base: {{el.base[0]}}</div>
                </div>
                <div *ngIf="el.isSignificance[4] != undefined" class="col-2 float-left sigbase"
                  [ngClass]="{'hide' :(el.data[4].Score | scoreAndBase : el.base[0]) == 'Low base'}">
                  <i class="fa fa-caret-down text-danger fa-2x" *ngIf="!(el.data[4].Score>el.comapreScore[4])"></i>
                  <i class="fa fa-caret-up text-success fa-2x" *ngIf="(el.data[4].Score>el.comapreScore[4])"></i>
                  <div class="baseCount">Comparison Score: {{el.comapreScore[4]}}
                    <br><span>Comparison Base: {{el.comapreBase[0]}}</span>
                  </div>
                </div>
                <div class="clearfix"></div>
              </td>

            </tr>
            <tr>
              <td class="text-right">The ad made me more likely to buy the brand</td>
              <td *ngFor="let el of AddData1">
                <div class="text-center LowBase"
                  [ngClass]="{'hide' :(el.data[5].Score | scoreAndBase : el.base[0]) != 'Low base'}">Low Base</div>
                <div class="float-left col-2 pr-0 pos-rel"
                  [ngClass]="{'hide' :(el.data[5].Score | scoreAndBase : el.base[0]) == 'Low base'}">
                  <div class="bar-score">{{el.data[5].Score | scoreAndBase : el.base[0]}}</div>
                </div>
                <div class="float-left col-8 pos-rel barBox pr-0 pl-0 base"
                  [ngClass]="{'hide' :(el.data[5].Score | scoreAndBase : el.base[0]) == 'Low base'}">
                  <div class="bar-width" [style.width.%]="el.data[5].Score"></div>
                  <div class="baseCount">Base: {{el.base[0]}}</div>
                </div>
                <div *ngIf="el.isSignificance[5] != undefined" class="col-2 float-left sigbase"
                  [ngClass]="{'hide' :(el.data[5].Score | scoreAndBase : el.base[0]) == 'Low base'}">
                  <i class="fa fa-caret-down text-danger fa-2x" *ngIf="!(el.data[5].Score>el.comapreScore[5])"></i>
                  <i class="fa fa-caret-up text-success fa-2x" *ngIf="(el.data[5].Score>el.comapreScore[5])"></i>
                  <div class="baseCount">Comparison Score: {{el.comapreScore[5]}}
                    <br><span>Comparison Base: {{el.comapreBase[0]}}</span>
                  </div>
                </div>
                <div class="clearfix"></div>
              </td>


            </tr>
            <tr>
              <td class="text-right">The ad is different from other ads I have seen for kitchen or bath plumbing
                products
              </td>
              <td *ngFor="let el of AddData1">
                <div class="text-center LowBase"
                  [ngClass]="{'hide' :(el.data[6].Score | scoreAndBase : el.base[0]) != 'Low base'}">Low Base</div>
                <div class="float-left col-2 pr-0 pos-rel"
                  [ngClass]="{'hide' :(el.data[6].Score | scoreAndBase : el.base[0]) == 'Low base'}">
                  <div class="bar-score">{{el.data[6].Score | scoreAndBase : el.base[0]}}</div>
                </div>
                <div class="float-left col-8 pos-rel barBox pr-0 pl-0 base"
                  [ngClass]="{'hide' :(el.data[6].Score | scoreAndBase : el.base[0]) == 'Low base'}">
                  <div class="bar-width" [style.width.%]="el.data[6].Score"></div>
                  <div class="baseCount">Base: {{el.base[0]}}</div>
                </div>
                <div *ngIf="el.isSignificance[6] && el.isSignificance[6] != undefined" class="col-2 float-left sigbase"
                  [ngClass]="{'hide' :(el.data[6].Score | scoreAndBase : el.base[0]) == 'Low base'}">
                  <i class="fa fa-caret-down text-danger fa-2x" *ngIf="!(el.data[6].Score>el.comapreScore[6])"></i>
                  <i class="fa fa-caret-up text-success fa-2x" *ngIf="(el.data[6].Score>el.comapreScore[6])"></i>
                  <div class="baseCount">Comparison Score: {{el.comapreScore[6]}}
                    <br><span>Comparison Base: {{el.comapreBase[0]}}</span>
                  </div>
                </div>
                <div class="clearfix"></div>
              </td>
            </tr>
            <tr>
              <td class="text-right">The ad made the brand seem more appealing
              </td>
              <td *ngFor="let el of AddData1">
                <div class="text-center LowBase"
                  [ngClass]="{'hide' :(el.data[7].Score | scoreAndBase : el.base[0]) != 'Low base'}">Low Base</div>
                <div class="float-left col-2 pr-0 pos-rel"
                  [ngClass]="{'hide' :(el.data[7].Score | scoreAndBase : el.base[0]) == 'Low base'}">
                  <div class="bar-score">{{el.data[7].Score | scoreAndBase : el.base[0]}}</div>
                </div>
                <div class="float-left col-8 pos-rel barBox pr-0 pl-0 base"
                  [ngClass]="{'hide' :(el.data[7].Score | scoreAndBase : el.base[0]) == 'Low base'}">
                  <div class="bar-width" [style.width.%]="el.data[7].Score"></div>
                  <div class="baseCount">Base: {{el.base[0]}}</div>
                </div>
                <div *ngIf="el.isSignificance[7] && el.isSignificance[7] != undefined" class="col-2 float-left sigbase"
                  [ngClass]="{'hide' :(el.data[7].Score | scoreAndBase : el.base[0]) == 'Low base'}">
                  <i class="fa fa-caret-down text-danger fa-2x" *ngIf="!(el.data[7].Score>el.comapreScore[7])"></i>
                  <i class="fa fa-caret-up text-success fa-2x" *ngIf="(el.data[7].Score>el.comapreScore[7])"></i>
                  <div class="baseCount">Comparison Score: {{el.comapreScore[7]}}
                    <br><span>Comparison Base: {{el.comapreBase[0]}}</span>
                  </div>
                </div>
                <div class="clearfix"></div>
              </td>
            </tr>
            <tr>
              <td class="text-right">I am getting tired of seeing this ad</td>
              <td *ngFor="let el of AddData1">
                <div class="text-center LowBase"
                  [ngClass]="{'hide' :(el.data[8].Score | scoreAndBase : el.base[0]) != 'Low base'}">Low Base</div>
                <div class="float-left col-2 pr-0 pos-rel"
                  [ngClass]="{'hide' :(el.data[8].Score | scoreAndBase : el.base[0]) == 'Low base'}">
                  <div class="bar-score">{{el.data[8].Score | scoreAndBase : el.base[0]}}</div>
                </div>
                <div class="float-left col-8 pos-rel barBox pr-0 pl-0 base"
                  [ngClass]="{'hide' :(el.data[8].Score | scoreAndBase : el.base[0]) == 'Low base'}">
                  <div class="bar-width" [style.width.%]="el.data[8].Score"></div>
                  <div class="baseCount">Base: {{el.base[0]}}</div>
                </div>
                <div *ngIf="el.isSignificance[8] && el.isSignificance[8] != undefined" class="col-2 float-left sigbase"
                  [ngClass]="{'hide' :(el.data[8].Score | scoreAndBase : el.base[0]) == 'Low base'}">
                  <i class="fa fa-caret-down text-danger fa-2x"
                    *ngIf="!(el.data[8].Score>el.comapreScore[8])"></i>
                  <i class="fa fa-caret-up text-success fa-2x"
                    *ngIf="(el.data[8].Score>el.comapreScore[8])"></i>
                  <div class="baseCount">Comparison Score: {{el.comapreScore[8]}}
                    <br><span>Comparison Base: {{el.comapreBase[0]}}</span>
                  </div>
                </div>
                <div class="clearfix"></div>
              </td>
            </tr>
            <tr>
              <td class="text-right">The information in the ad was believable</td>
              <td *ngFor="let el of AddData1">
                <div class="text-center LowBase"
                  [ngClass]="{'hide' :(el.data[9].Score | scoreAndBase : el.base[0]) != 'Low base'}">Low Base</div>
                <div class="float-left col-2 pr-0 pos-rel"
                  [ngClass]="{'hide' :(el.data[9].Score | scoreAndBase : el.base[0]) == 'Low base'}">
                  <div class="bar-score">{{el.data[9].Score | scoreAndBase : el.base[0]}}</div>
                </div>
                <div class="float-left col-8 pos-rel barBox pr-0 pl-0 base"
                  [ngClass]="{'hide' :(el.data[9].Score | scoreAndBase : el.base[0]) == 'Low base'}">
                  <div class="bar-width" [style.width.%]="el.data[9].Score"></div>
                  <div class="baseCount">Base: {{el.base[0]}}</div>
                </div>
                <div *ngIf="el.isSignificance[9] && el.isSignificance[9] != undefined" class="col-2 float-left sigbase"
                  [ngClass]="{'hide' :(el.data[9].Score | scoreAndBase : el.base[0]) == 'Low base'}">
                  <i class="fa fa-caret-down text-danger fa-2x"
                    *ngIf="!(el.data[9].Score>el.comapreScore[9])"></i>
                  <i class="fa fa-caret-up text-success fa-2x"
                    *ngIf="(el.data[9].Score>el.comapreScore[9])"></i>
                  <div class="baseCount">Comparison Score: {{el.comapreScore[9]}}
                    <br><span>Comparison Base: {{el.comapreBase[0]}}</span>
                  </div>
                </div>
                <div class="clearfix"></div>
              </td>
            </tr>

          </table>
        </div>
        <div id="tab2" class="hideTab border p-2" *ngIf="selectedTab=='CallToAction'"
          [class.active]="viewMode == 'tab2'">
          <p class="mt-1 text-secondary float-right font-sm mb-1"> * Select maximum 3 Ads to compare</p>
          <div class="clearfix"></div>
          <table class="table table-bordered w-100 table-fixed">
            <tr>
              <td></td>
              <td *ngFor="let el of AddData" class="text-center">
                <div>
                  <img style="height: 100px;" src={{logoByAddsCode[el.addname]}}>
                </div>
                <br>
                <div style="height:10px;"></div>
                <div style="height:40px;"><label>{{el.addname}}</label></div>
              </td>


            </tr>
            <tr>
              <td class="text-right">Search for the brand/product online</td>
              <td *ngFor="let el of AddData" style="width:200px;">
                <div class="text-center LowBase"
                  [ngClass]="{'hide' :(el.data[0].Score| scoreAndBase : el.base[0]) != 'Low base'}">Low Base</div>
                <div class="float-left col-2 pr-0 pos-rel"
                  [ngClass]="{'hide' :(el.data[0].Score| scoreAndBase : el.base[0]) == 'Low base'}">
                  <div class="bar-score">{{el.data[0].Score| scoreAndBase : el.base[0]}}</div>
                </div>
                <div class="float-left col-8 pos-rel barBox pr-0 pl-0 base"
                  [ngClass]="{'hide' :(el.data[0].Score| scoreAndBase : el.base[0]) == 'Low base'}">
                  <div class="bar-width" [style.width.%]="el.data[0].Score"></div>
                  <div class="baseCount">Base: {{el.base[0]}}</div>
                </div>
                <div *ngIf="el.isSignificance[0] && el.isSignificance[0] != undefined" class="col-2 float-left sigbase"
                  [ngClass]="{'hide' :(el.data[0].Score| scoreAndBase : el.base[0]) == 'Low base'}">
                  <i class="fa fa-caret-down text-danger fa-2x"
                    *ngIf="!(el.data[0].Score>el.comapreScore[0])"></i>
                  <i class="fa fa-caret-up text-success fa-2x"
                    *ngIf="(el.data[0].Score>el.comapreScore[0])"></i>
                  <div class="baseCount">Comparison Score: {{el.comapreScore[0]}}
                    <br><span>Comparison Base: {{el.comapreBase[0]}}</span>
                  </div>
                </div>
                <div class="clearfix"></div>

              </td>
            </tr>
            <tr>
              <td class="text-right">Talk about the brand/product on social media (e.g., Facebook, Twitter)
              </td>
              <td *ngFor="let el of AddData">
                <div class="text-center LowBase"
                  [ngClass]="{'hide' :(el.data[1].Score| scoreAndBase : el.base[0]) != 'Low base'}">Low Base</div>
                <div class="float-left col-2 pr-0 pos-rel"
                  [ngClass]="{'hide' :(el.data[1].Score| scoreAndBase : el.base[0]) == 'Low base'}">
                  <div class="bar-score">{{el.data[1].Score| scoreAndBase : el.base[0]}}</div>
                </div>
                <div class="float-left col-8 pos-rel barBox pl-0 base"
                  [ngClass]="{'hide' :(el.data[1].Score| scoreAndBase : el.base[0]) == 'Low base'}">
                  <div class="bar-width" [style.width.%]="el.data[1].Score"></div>
                  <div class="baseCount">Base: {{el.base[0]}}</div>
                </div>
                <div *ngIf="el.isSignificance[1] && el.isSignificance[1] != undefined" class="col-2 float-left sigbase"
                  [ngClass]="{'hide' :(el.data[1].Score| scoreAndBase : el.base[0]) == 'Low base'}">
                  <i class="fa fa-caret-down text-danger fa-2x"
                    *ngIf="!(el.data[1].Score>el.comapreScore[1])"></i>
                  <i class="fa fa-caret-up text-success fa-2x"
                    *ngIf="(el.data[1].Score>el.comapreScore[1])"></i>
                  <div class="baseCount">Comparison Score: {{el.comapreScore[1]}}
                    <br><span>Comparison Base: {{el.comapreBase[0]}}</span>
                  </div>
                </div>
                <div class="clearfix"></div>
              </td>

            </tr>
            <tr>
              <td class="text-right">Visit the brand/product's website</td>
              <td *ngFor="let el of AddData">
                <div class="text-center LowBase"
                  [ngClass]="{'hide' :(el.data[2].Score| scoreAndBase : el.base[0]) != 'Low base'}">Low Base</div>
                <div class="float-left col-2 pr-0 pos-rel"
                  [ngClass]="{'hide' :(el.data[2].Score| scoreAndBase : el.base[0]) == 'Low base'}">
                  <div class="bar-score">{{el.data[2].Score| scoreAndBase : el.base[0]}}</div>
                </div>
                <div class="float-left col-8 pos-rel barBox pl-0 base"
                  [ngClass]="{'hide' :(el.data[2].Score| scoreAndBase : el.base[0]) == 'Low base'}">
                  <div class="bar-width" [style.width.%]="el.data[2].Score"></div>
                  <div class="baseCount">Base:{{el.base[0]}}</div>
                </div>
                <div *ngIf="el.isSignificance[2] && el.isSignificance[2] != undefined" class="col-2 float-left sigbase"
                  [ngClass]="{'hide' :(el.data[2].Score| scoreAndBase : el.base[0]) == 'Low base'}">
                  <i class="fa fa-caret-down text-danger fa-2x"
                    *ngIf="!(el.data[2].Score>el.comapreScore[2])"></i>
                  <i class="fa fa-caret-up text-success fa-2x"
                    *ngIf="(el.data[2].Score>el.comapreScore[2])"></i>
                  <div class="baseCount">Comparison Score: {{el.comapreScore[2]}}
                    <br><span>Comparison Base: {{el.comapreBase[0]}}</span>
                  </div>
                </div>
                <div class="clearfix"></div>
              </td>

            </tr>
            <tr>
              <td class="text-right">Talk about the brand/product with friends, family or co-workers
              </td>
              <td *ngFor="let el of AddData">
                <div class="text-center LowBase"
                  [ngClass]="{'hide' :(el.data[3].Score| scoreAndBase : el.base[0]) != 'Low base'}">Low Base</div>
                <div class="float-left col-2 pr-0 pos-rel"
                  [ngClass]="{'hide' :(el.data[3].Score| scoreAndBase : el.base[0]) == 'Low base'}">
                  <div class="bar-score">{{el.data[3].Score| scoreAndBase : el.base[0]}}</div>
                </div>
                <div class="float-left col-8 pos-rel barBox pl-0 base"
                  [ngClass]="{'hide' :(el.data[3].Score| scoreAndBase : el.base[0]) == 'Low base'}">
                  <div class="bar-width" [style.width.%]="el.data[3].Score"></div>
                  <div class="baseCount">Base: {{el.base[0]}}</div>
                </div>
                <div *ngIf="el.isSignificance[3] && el.isSignificance[3] != undefined" class="col-2 float-left sigbase"
                  [ngClass]="{'hide' :(el.data[3].Score| scoreAndBase : el.base[0]) == 'Low base'}">
                  <i class="fa fa-caret-down text-danger fa-2x"
                    *ngIf="!(el.data[3].Score>el.comapreScore[3])"></i>
                  <i class="fa fa-caret-up text-success fa-2x"
                    *ngIf="(el.data[3].Score>el.comapreScore[3])"></i>
                  <div class="baseCount">Comparison Score: {{el.comapreScore[3]}}
                    <br><span>Comparison Base: {{el.comapreBase[0]}}</span>
                  </div>
                </div>
                <div class="clearfix"></div>
              </td>

            </tr>
            <tr>
              <td class="text-right">Look for the brand/product in store </td>
              <td *ngFor="let el of AddData">
                <div class="text-center LowBase"
                  [ngClass]="{'hide' :(el.data[4].Score| scoreAndBase : el.base[0]) != 'Low base'}">Low Base</div>
                <div class="float-left col-2 pr-0 pos-rel"
                  [ngClass]="{'hide' :(el.data[4].Score| scoreAndBase : el.base[0]) == 'Low base'}">
                  <div class="bar-score">{{el.data[4].Score| scoreAndBase : el.base[0]}}</div>
                </div>
                <div class="float-left col-8 pos-rel barBox pl-0 base"
                  [ngClass]="{'hide' :(el.data[4].Score| scoreAndBase : el.base[0]) == 'Low base'}">
                  <div class="bar-width" [style.width.%]="el.data[4].Score"></div>
                  <div class="baseCount">Base: {{el.base[0]}}</div>
                </div>
                <div *ngIf="el.isSignificance[4] && el.isSignificance[4] != undefined" class="col-2 float-left sigbase"
                  [ngClass]="{'hide' :(el.data[4].Score| scoreAndBase : el.base[0]) == 'Low base'}">
                  <i class="fa fa-caret-down text-danger fa-2x"
                    *ngIf="!(el.data[4].Score>el.comapreScore[4])"></i>
                  <i class="fa fa-caret-up text-success fa-2x"
                    *ngIf="(el.data[4].Score>el.comapreScore[4])"></i>
                  <div class="baseCount">Comparison Score: {{el.comapreScore[4]}}
                    <br><span>Comparison Base: {{el.comapreBase[0]}}</span>
                  </div>
                </div>
                <div class="clearfix"></div>
              </td>

            </tr>
            <tr>
              <td class="text-right">Recommend the brand/product to a friend, family or co-worker </td>
              <td *ngFor="let el of AddData">
                <div class="text-center LowBase"
                  [ngClass]="{'hide' :(el.data[5].Score| scoreAndBase : el.base[0]) != 'Low base'}">Low Base</div>
                <div class="float-left col-2 pr-0 pos-rel"
                  [ngClass]="{'hide' :(el.data[5].Score| scoreAndBase : el.base[0]) == 'Low base'}">
                  <div class="bar-score">{{el.data[5].Score| scoreAndBase : el.base[0]}}</div>
                </div>
                <div class="float-left col-8 pos-rel barBox pl-0 base"
                  [ngClass]="{'hide' :(el.data[5].Score| scoreAndBase : el.base[0]) == 'Low base'}">
                  <div class="bar-width" [style.width.%]="el.data[5].Score"></div>
                  <div class="baseCount">Base: {{el.base[0]}}</div>
                </div>
                <div *ngIf="el.isSignificance[5] && el.isSignificance[5] != undefined" class="col-2 float-left sigbase"
                  [ngClass]="{'hide' :(el.data[5].Score| scoreAndBase : el.base[0]) == 'Low base'}">
                  <i class="fa fa-caret-down text-danger fa-2x"
                    *ngIf="!(el.data[5].Score>el.comapreScore[5])"></i>
                  <i class="fa fa-caret-up text-success fa-2x"
                    *ngIf="(el.data[5].Score>el.comapreScore[5])"></i>
                  <div class="baseCount">Comparison Score: {{el.comapreScore[5]}}
                    <br><span>Comparison Base: {{el.comapreBase[0]}}</span>
                  </div>
                </div>
                <div class="clearfix"></div>
              </td>

            </tr>
            <!-- <tr>
                                <td class="text-right">Click on the ad for more info [Scripter: show for digital ad only]</td>
                            <td *ngFor="let el of AddData">
                                <div class="float-left col-2 pr-0 pos-rel">
                                    <div class="bar-score">{{el.data[6].Score|roundOff}}</div>
                                </div>
                                <div class="float-left col-8 pos-rel barBox pl-0 base">
                                    <div class="bar-width" [style.width.%]="el.data[6].Score"></div>
                                    <div class="baseCount">Base: {{el.base[0]}}</div>
                                </div>

                                <div class="clearfix"></div>
                            </td>

                        </tr> -->
            <tr>
              <td class="text-right">Write a blog entry </td>
              <td *ngFor="let el of AddData">
                <div class="text-center LowBase"
                  [ngClass]="{'hide' :(el.data[7].Score| scoreAndBase : el.base[0]) != 'Low base'}">Low Base</div>
                <div class="float-left col-2 pr-0 pos-rel"
                  [ngClass]="{'hide' :(el.data[7].Score| scoreAndBase : el.base[0]) == 'Low base'}">
                  <div class="bar-score">{{el.data[7].Score| scoreAndBase : el.base[0]}}</div>
                </div>
                <div class="float-left col-8 pos-rel barBox pl-0 base"
                  [ngClass]="{'hide' :(el.data[7].Score| scoreAndBase : el.base[0]) == 'Low base'}">
                  <div class="bar-width" [style.width.%]="el.data[7].Score"></div>
                  <div class="baseCount">Base: {{el.base[0]}}</div>
                </div>
                <div *ngIf="el.isSignificance[7] && el.isSignificance[7] != undefined" class="col-2 float-left sigbase"
                  [ngClass]="{'hide' :(el.data[7].Score| scoreAndBase : el.base[0]) == 'Low base'}">
                  <i class="fa fa-caret-down text-danger fa-2x"
                    *ngIf="!(el.data[7].Score>el.comapreScore[7])"></i>
                  <i class="fa fa-caret-up text-success fa-2x"
                    *ngIf="(el.data[7].Score>el.comapreScore[7])"></i>
                  <div class="baseCount">Comparison Score: {{el.comapreScore[7]}}
                    <br><span>Comparison Base: {{el.comapreBase[0]}}</span>
                  </div>
                </div>
                <div class="clearfix"></div>
              </td>


            </tr>
            <tr>
              <td class="text-right">Get more information about the brand/product </td>
              <td *ngFor="let el of AddData">
                <div class="text-center LowBase"
                  [ngClass]="{'hide' :(el.data[8].Score| scoreAndBase : el.base[0]) != 'Low base'}">Low Base</div>
                <div class="float-left col-2 pr-0 pos-rel"
                  [ngClass]="{'hide' :(el.data[8].Score| scoreAndBase : el.base[0]) == 'Low base'}">
                  <div class="bar-score">{{el.data[8].Score| scoreAndBase : el.base[0]}}</div>
                </div>
                <div class="float-left col-8 pos-rel barBox pl-0 base"
                  [ngClass]="{'hide' :(el.data[8].Score| scoreAndBase : el.base[0]) == 'Low base'}">
                  <div class="bar-width" [style.width.%]="el.data[8].Score"></div>
                  <div class="baseCount">Base: {{el.base[0]}}</div>
                </div>
                <div *ngIf="el.isSignificance[8] && el.isSignificance[8] != undefined" class="col-2 float-left sigbase"
                  [ngClass]="{'hide' :(el.data[8].Score| scoreAndBase : el.base[0]) == 'Low base'}">
                  <i class="fa fa-caret-down text-danger fa-2x"
                    *ngIf="!(el.data[8].Score>el.comapreScore[8])"></i>
                  <i class="fa fa-caret-up text-success fa-2x"
                    *ngIf="(el.data[8].Score>el.comapreScore[8])"></i>
                  <div class="baseCount">Comparison Score: {{el.comapreScore[8]}}
                    <br><span>Comparison Base: {{el.comapreBase[0]}}</span>
                  </div>
                </div>
                <div class="clearfix"></div>
              </td>


            </tr>
            <tr>
              <td class="text-right">No action after seeing the ad</td>
              <td *ngFor="let el of AddData">
                <div class="text-center LowBase"
                  [ngClass]="{'hide' :(el.data[9].Score| scoreAndBase : el.base[0]) != 'Low base'}">Low Base</div>
                <div class="float-left col-2 pr-0 pos-rel"
                  [ngClass]="{'hide' :(el.data[9].Score| scoreAndBase : el.base[0]) == 'Low base'}">
                  <div class="bar-score">{{el.data[9].Score| scoreAndBase : el.base[0]}}</div>
                </div>
                <div class="float-left col-8 pos-rel barBox pl-0 base"
                  [ngClass]="{'hide' :(el.data[9].Score| scoreAndBase : el.base[0]) == 'Low base'}">
                  <div class="bar-width" [style.width.%]="el.data[9].Score"></div>
                  <div class="baseCount">Base: {{el.base[0]}}</div>
                </div>
                <div *ngIf="el.isSignificance[9] && el.isSignificance[9] != undefined" class="col-2 float-left sigbase"
                  [ngClass]="{'hide' :(el.data[9].Score| scoreAndBase : el.base[0]) == 'Low base'}">
                  <i class="fa fa-caret-down text-danger fa-2x"
                    *ngIf="!(el.data[9].Score>el.comapreScore[9])"></i>
                  <i class="fa fa-caret-up text-success fa-2x"
                    *ngIf="(el.data[9].Score>el.comapreScore[9])"></i>
                  <div class="baseCount">Comparison Score: {{el.comapreScore[9]}}
                    <br><span>Comparison Base: {{el.comapreBase[0]}}</span>
                  </div>
                </div>
                <div class="clearfix"></div>
              </td>

            </tr>


          </table>
        </div>
      </div>


    </div>
  </div>
  <!-- <div class="col-12 p-0">
                        Trended View
                    </div> -->
  <div class="clearfix"></div>

</div>
