.brandList img{height:25px;}

.bg-green{background-color:#92D050 }
.bg-lightgreen{background-color:#E5F995}
.bg-red{background-color:#FF656D}
.bg-pink{background-color:#FFCCCE}

.legend-box{width:15px;height:15px;font-size: .8rem;display: inline-block;}
.legend-box + span {vertical-align: text-bottom;}
.table td:nth-child(n+4){width:100px;max-width: 100px;min-width: 100px;}
.table td:nth-child(1),.table td:nth-child(3){width:80px;max-width: 80px;min-width: 80px;}
.table-fixed.legendtable{table-layout: fixed;}
.legendtable td{width: auto!important;}
h3:hover .titleOnHover{display:block}
.baseCount{
    position: absolute;
    top: 30%;
    left: 4%;
    background-color: #4d4d4d;
    color: #fff;
    border: 1px solid #4d4d4d;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.15);
    margin-left: 1px;
    margin-top: 0px;
    display: none;
    transition: all 0.5s ease;
    text-align: center;
    font-size: 12px;
    padding: 0px 10px;transition: all ease 0.25s;
  }
.base:hover .baseCount{display: block; z-index: 2}
.compareArrow{
  display: inline-block;
    /* vertical-align: middle; */
    /* padding-left: 5px; */
    position: absolute;
    top: 3px;
    left: 50px;
    right: 0px;
}

.nav-link.active{
  color: #fff;
  background-color: #29a84a!important;border-radius:0px!important;
}

.LowBaseBg{background-color: #fff!important;color:#323232!important}