<div class="col-md-12 float-left  mt-5 pt-4">
  <app-loader [show]="showLoader"></app-loader>


  <div *ngIf="!showChart" id="chartView">
    <app-filter-chip-list></app-filter-chip-list>
    <div class="text-right float-right"> <i class="fa fa-caret-up text-success mr-1 fa-2x"></i>/
      <i class="fa-2x fa fa-caret-down text-danger mr-2"></i><span class="font-sm">Significant @ 95% level</span>
      <i class="fa fa-table p-1 ml-2 border rounded clickable" title="Chart View" id="chartsTabs"
        (click)="toggleChart('chartsTabs');"></i>
      <i class="fa fa-line-chart p-1 ml-2 border rounded clickable" title="Trend View" id="trendsTabs"
        (click)="toggleTrends('trendsTabs');"></i>
    </div>
    <h3 class="mt-2 mb-2 float-left col-4 pt-1 pos-rel" style="font-size: 24px;color:#29a84a">Brand Perceptions (%) <i
        class="font-xs ml-2 text-dark">Base: Aware of brand</i>
      <div class="titleOnHover"><b>Overall Brand Perceptions</b> : BRIA</div>
    </h3>
    <app-chart-container *ngFor="let config of brandPerceptionsArray" [chart]="config" [updateData]="onDataUpdate">
    </app-chart-container>
    <div class="float-right mt-1 mr-2">
      <div class="float-right">
        <img src="../../../assets/images/excel.png" title="Download Excel" class="mr-2 clickable" style="height:20px;"
          (click)=downloadExcelFile() />
        <img src="../../../assets/images/ppt.png" title="Download PPT" class="clickable"
          (click)="pptexport('Brand_Perception.zip')" style="height:20px;" />
      </div>
    </div>
    <div class="clearfix"></div>
    <div style="margin-left: 15px;"><h6><b>Note: </b>For items added/removed in any given quarter, percentages for rolled-up time periods are not calculated on the reduced base.</h6></div>
    <table class="table table-bordered table-fixed w-100 legendtable text-center mb-2" style="font-size: .85rem;">
      <tr>
        <td>Indexed to Overall Market Average</td>
        <td> <span style="background-color: #92D050" class="legend-box mr-1"></span><span> Overindex: 120 or
            higher</span></td>
        <td> <span style="background-color: #E5F995" class="legend-box mr-1"></span><span>Overindex: 110 - 119</span>
        </td>
        <td> <span style="background-color: #ffffff" class="legend-box mr-1 border"></span><span>Average: 91 -
            109</span></td>
        <td> <span style="background-color: #FFCCCE" class="legend-box mr-1"></span><span>Underindex: 81 - 90</span>
        </td>
        <td> <span style="background-color: #FF656D" class="legend-box mr-1"></span><span>Underindex: 80 or lower</span>
        </td>
      </tr>
    </table>
    <table id="brandHeader" [style.width.px]="getContentWidth()" class="table table-bordered mb-0">
      <tr class="brandList">
        <td class="text-center"><label class="font-weight-bold">Faucet Drivers</label></td>
        <td style="width:35%"></td>
        <td class="text-center"><label class="font-weight-bold">Overall Market Average</label></td>
        <td class="text-center" *ngFor="let logo of brandList"><img src="{{logo}}" /></td>
      </tr>
    </table>
    <div class="overflow" [style.height.px]="getContentHeight()">
      <table id="brandData" class="table table-bordered w-100 mb-0">
        <tr *ngFor="let brandData of branPerceptionTableData; let k= index">
          <td *ngIf="brandData.KDA !== 0" class="text-center" [style.color]="getBgColor(brandData.KDA)">{{brandData.KDA}}</td>
          <td *ngIf="brandData.KDA === 0"class="text-center" [style.color]="getBgColor(brandData.KDA)">NA</td>
          <td style="width:35%" [TextStyling]= "brandData.question">{{brandData.question}}
          </td>
          <td class="text-center">{{brandData.avg | scoreAndBase}} </td>
          <td class="text-center text-white base pos-rel table-index"
            [ngClass]="{'text-white' :brandValue.colorCode !== '#fff' && brandValue.colorCode !== '#FFCCCE' && brandValue.colorCode !== '#E5F995','LowBaseBg': (brandValue.Score | scoreAndBase :brandValue.Base) == 'Low base'}"
            *ngFor="let brandValue of brandData.productValues; let i = index"
            [style.backgroundColor]="brandValue.colorCode">{{brandValue.Score | scoreAndBase :brandValue.Base}}

            <div *ngIf="brandValue.isSignificance == true && (brandValue.Score | showSigTest :brandValue.previousScore) !== 0" class="compareArrow">
              <i class="fa fa-caret-down text-danger fa-2x" *ngIf="(brandValue.Score | showSigTest :brandValue.previousScore) === (-1)"></i>
              <i class="fa fa-caret-up text-success fa-2x" *ngIf="(brandValue.Score | showSigTest :brandValue.previousScore) === 1"></i>
              <!-- <div class="baseCount">Score: {{totalComparisionData}}</div> -->
            </div>
            <div class="baseCount">Base: {{brandValue.Base}} <br>
              <span *ngIf="brandValue.isSignificance == true">
                Comparison Score: {{brandValue.previousScore | scoreAndBase}}<br>
                <span>Comparison Base: {{brandValue.compareBase}}</span>
              </span>
            </div>
          </td>
        </tr>
      </table>
      <div class="alert alert-info font-sm text-center col-md-4 ml-auto mr-auto mt-4" *ngIf="!branPerceptionTableData">
        No Data Available</div>
    </div>
    <div class="clearfix"></div>
  </div>

  <div *ngIf="showTrends" id="trendView">
    <div class="text-right float-right mb-1">
      <img src="../../../assets/images/ppt.png" title="Download PPT" (click)="downloadPptTrends()" class="clickable"
        style="height:20px;" />
      <i class="fa fa-table p-1 ml-2 border rounded clickable" title="Chart View" id="chartsTabs"
        (click)="toggleChart('chartsTabs');"></i>
      <i class="fa fa-line-chart p-1 ml-2 border rounded clickable" title="Trend View" id="trendsTabs"
        (click)="toggleTrends('trendsTabs');"></i>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-12">

        <nav class="nav nav-pills border nav-justified">
          <a class="nav-item nav-link active clickable border-right" [class.active]="periodSeclected == 'tab1'"
            rel="tab1" (click)="changeTimePeriod('Quarterly','tab1')">
            Quarterly
          </a>
          <a class="nav-item nav-link clickable border-right" [class.active]="periodSeclected == 'tab2'" rel="tab2"
            (click)="changeTimePeriod('SemiAnnually','tab2')">
            Semi Annually
          </a>
          <a class="nav-item nav-link clickable border-right" [class.active]="periodSeclected == 'tab3'" rel="tab3"
            (click)="changeTimePeriod('Annually','tab3')">
            Annually
          </a>
        </nav>

      </div>
    </div>
    <div class="tab-content" id="myTabContent">
      <div class="hide active" id="tab1" [class.active]="periodSeclected == 'tab1'">
        <div class="col-6 float-left">
          <div class="card">
            <div class="card-header green">BRAND PERCEPTIONS - DELTA</div>
            <div class="card-body border">
              <app-chart-container [chart]="perceptionTrendsDelta" [updateData]="onDataUpdate"></app-chart-container>
            </div>
          </div>
        </div>
        <div class="col-6 float-left">
          <div class="card">
            <div class="card-header green">BRAND PERCEPTIONS - MOEN</div>
            <div class="card-body border">
              <app-chart-container [chart]="perceptionTrendsMoen" [updateData]="onDataUpdate"></app-chart-container>
            </div>
          </div>
        </div>
      </div>
      <div class="hide active" id="tab1" [class.active]="periodSeclected == 'tab1'">
        <div class="col-6 float-left">
          <div class="card">
            <div class="card-header green">BRAND PERCEPTIONS - KOHLER</div>
            <div class="card-body border">
              <app-chart-container [chart]="perceptionTrendsKohler" [updateData]="onDataUpdate"></app-chart-container>
            </div>
          </div>
        </div>
        <div class="col-6 float-left">
          <div class="card">
            <div class="card-header green">BRAND PERCEPTIONS - AMERICAN STANDARD</div>
            <div class="card-body border">
              <app-chart-container [chart]="perceptionTrendsAS" [updateData]="onDataUpdate"></app-chart-container>
            </div>
          </div>
        </div>
      </div>
      <div class="hide active" id="tab1" [class.active]="periodSeclected == 'tab1'">
        <div class="col-6 float-left">
          <div class="card">
            <div class="card-header green">BRAND PERCEPTIONS - PEERLESS</div>
            <div class="card-body border">
              <app-chart-container [chart]="perceptionTrendsPeerless" [updateData]="onDataUpdate"></app-chart-container>
            </div>
          </div>
        </div>
        <div class="col-6 float-left">
          <div class="card">
            <div class="card-header green">BRAND PERCEPTIONS - PFISTER</div>
            <div class="card-body border">
              <app-chart-container [chart]="perceptionTrendsPfister" [updateData]="onDataUpdate"></app-chart-container>
            </div>
          </div>
        </div>
      </div>
      <div class="hide active" id="tab1" [class.active]="periodSeclected == 'tab1'">

        <div class="col-6 float-left">
          <div class="card">
            <div class="card-header green">BRAND PERCEPTIONS - WATERPIK</div>
            <div class="card-body border">
              <app-chart-container [chart]="perceptionTrendsWaterpik" [updateData]="onDataUpdate"></app-chart-container>
            </div>
          </div>
        </div>
      <div class="col-6 float-left"></div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <span class="note"><b>Low Base</b> shown if base size <75.</span>
