.brandList img{height:25px;}

.bg-green{background-color:#92D050 }
.bg-lightgreen{background-color:#E5F995}
.bg-red{background-color:#FF656D}
.bg-pink{background-color:#FFCCCE}

.legend-box{width:15px;height:15px;font-size: .8rem;border:1px solid #e4e4e4}

.barBox{height:25px;background-color: #fafafa}
label{font-size:1rem;font-weight:600;text-decoration: none;text-shadow: 0px;}
.bar-width{position: absolute;left:0px;bottom:0px;top:0px;width:0%;background-color:#868585}
.bar-score{position: absolute;left:8%;top:8px;color:#868585}
.bar-score.LowBaseScore{position: absolute;left:5%;top:0px;color:#868585;font-size: .8rem;}


h3:hover .titleOnHover{display:block}

.baseCount{
    position: absolute;
    top: 30%;
    left: 10%;
    background-color: #4d4d4d;
    color: #fff;
    border: 1px solid #4d4d4d;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.15);
    margin-left: 1px;
    margin-top: 0px;
    display: none;
    transition: all 0.5s ease;
    text-align: center;
    font-size: 12px;
    padding: 0px 10px;
  }
.base:hover .baseCount{display: block; z-index: 2;}
.compareArrow{
    display: inline-block;
    position: absolute;
    top: 5px;
    padding-left: 92%;
}
.nav-link.active{
  color: #fff;
  background-color: #29a84a!important;border-radius:0px!important;
}